aiohttp[speedups]
argcomplete
apscheduler
bs4
cssmin
docker
feedparser
flask-admin
flask[async]
flask-assets
flask-bcrypt
flask-caching
flask-minify
flask-sqlalchemy
hypercorn==0.15.0
langchain
langchain-community
lxml==5.1.1
python-dotenv
requests
pyyaml
w3lib