aiohttp[speedups]
argcomplete
bs4
docker
feedparser
flask-admin
flask[async]
flask-bcrypt
flask-caching
flask-minify
flask-sqlalchemy
gensim
hypercorn==0.15.0
langchain
langchain-community
lxml==5.1.1
matplotlib
nltk
numpy
pandas
pydantic
python-dotenv
pysqlite3
requests
scikit-learn
scipy==1.11.0
torch
pyyaml
