body {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 11px;
  color: #e9e9e9d8; /* Set text color to light gray */
  background-color: #2a2a2c; /* Set background color to dark gray */
  margin: 0px;
}

a {
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: #85a0fac7; /* Change link color to turquoise */
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  box-sizing: border-box; /* Ensures padding is included in width */
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.box {
  padding: 10px;
}

.box ul {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  list-style-type: none; /* Remove default list-style */
  text-align: left; /* Align list items to the left */
}

ul li {
  border-bottom: 1px solid #737373; /* Darken border color */
  list-style: none outside none;
  margin: 0px 8px;
  padding: 8px 0px;
}

ul li:last-child {
  border-bottom: 0px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.box-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #595959; /* Darken background color */
  font-size: 13px;
  font-weight: bold;
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  padding: 0 5px 0 7px;
  position: relative;
  text-align: left;
  cursor: move;
}

.box-header a {
  color: #e9e9e9ef; /* Ensure consistent link color */
}

.description {
  padding: 3px 0px 0px 0px;
}

.box-content {
  border-left: 1px solid #444;
  border-right: 1px solid #444;
  border-bottom: 1px solid #444;
}

.feed-content {
  max-height: 380px;
  overflow-y: auto;
  scrollbar-width: thin; /* Set scrollbar width to thin */
  scrollbar-color: #666 #333; /* Set scrollbar color */
}

.feed-content a:visited {
  color: #a885fac7; /* Ensure consistent link color bd89eeef */
}

/* Thin scrollbar track */
.box-content::-webkit-scrollbar {
    width: 8px; /* Set scrollbar width */
}

/* Thin scrollbar thumb */
.box-content::-webkit-scrollbar-thumb {
    background-color: #666; /* Set thumb color */
    border-radius: 10px; /* Set thumb border radius */
}

/* Darker scrollbar track */
.box-content::-webkit-scrollbar-track {
    background-color: #333; /* Set track color */
}

.header, .tabbar {
  overflow: hidden;
  background-color: #333;
  height: 30px;
  padding: 0px 10px;
}

.header a, .tabbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px;
  
  text-decoration: none;
}

.header a:hover, .tabbar a:hover {
  background-color: #ddd;
  color: black;
}

.tabbar a {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}