/* Reset and Basics */
html, body {
  width: 100%; 
  height: 100%; 
  margin: 0; 
  padding: 0;
}

/* Body Styles */
body {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 0.95em; 
  line-height: 1.25em;
  color: #D3D3D3;
  background-color: #2a2a2c;
}

.container {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  min-height:100vh;
  justify-content:space-between;
}
       

/* Row */
.row {
  display: flex;
}

/* Columns and Rows */
.column {
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-direction: column;
}

.content {
  height: 100%;
}

footer {
  /* Set the footer to the bottom of the browsers window */
  width: 100%;
  background-color: #1a1a1c;
  justify-content: center;
  
}