/* Reset and Basics */
html, body {
  width: 100%; 
  height: 100%; 
  margin: 0; 
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.25em;
  color: #D3D3D3;
  background-color: #2a2a2c;
  overflow-x: hidden;
  padding-top: calc(var(--bookmark-bar-height)); /* Reference the variable */
}

.container {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  min-height: calc(100vh - var(--bookmark-bar-height)); /* Reference the variable */
}

/* Row */
.row {
  display: flex;
  --num-columns: var(--child-count, 3);
}

/* Columns and Rows */
.column {
  flex: 1;
  width: calc(100% / var(--num-columns));
}

.content {
  height: 100%;
}

footer {
  /* Set the footer to the bottom of the browsers window */
  width: 100%;
  background-color: #1a1a1c;
  margin-top: auto;
  text-align: center;
}
