/* Boxes */
.box {
  padding: 0.625em; /* 10px converted to 0.625em */
}

.box ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
}

/* List Items */
ul li {
  border-bottom: 0.063em solid #444; /* Rounded from 0.0625em */
  list-style: none outside none;
  margin: 0.3em 0.3em; /* 8px converted to 0.5em */
  padding-bottom: 0.3em;
}

ul li:last-child {
  border-bottom: 0;
}

/* Headers */
.box-header {
  border-top-left-radius: 0.313em; /* Rounded from 0.3125em */
  border-top-right-radius: 0.313em; /* Rounded from 0.3125em */
  background-color: #3c3c3c;
  font-size: 1.25em; /* Rounded from 0.8125em */
  font-weight: bold;
  height: 1.5em; /* 24px converted to 1.5em */
  line-height: 1.5em; /* 24px converted to 1.5em */
  overflow: hidden;
  padding: 0.313em 0.438em 0 0.563em; /* Rounded from 0.3125em, 0.4375em, 0, 0.5625em */
  position: relative;
  text-align: left;
  cursor: move;
}

.box-header a {
  color: #e9e9e9ef;
}

/* Content Boxes */
.box-content {
  border: 0.063em solid #444; /* Rounded from 0.0625em */
}

/* Scrollbar Styling */
.box-content::-webkit-scrollbar {
  width: 0.5em; /* 8px converted to 0.5em */
}

.box-content::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 0.625em; /* Rounded from 0.625em */
}

.box-content::-webkit-scrollbar-track {
  background-color: #333;
}

/* Feed Content */
.feed-content {
  max-height: 300px;
  min-height: 300px;
  overflow-y: auto;
  scrollbar-width: none;
  scrollbar-color: #666 #333;
}

.feed-content a:visited {
  color: #a885fac7;
}

.widget-item {
  position: relative; /* Make the parent container a positioning context */
}

.feed-link {
  position: relative; /* Make the anchor tag a positioning context */
  z-index: 1; /* Ensure the anchor tag is on top of the toolbar */
}

.widget-item-toolbar {
  position: absolute; /* Position the toolbar absolutely */
  top: 0; /* Align the toolbar to the top of its parent container */
  right: 0; /* Align the toolbar to the right of its parent container */
  z-index: 2; /* Ensure the toolbar is on top of the anchor tag */
}

.summary {
  padding: 0.188em 0; 
}

.fas {
  vertical-align: middle;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900; /* This ensures the solid style is used */
  font-size: 0.8em;
  color: #5e5e5e; 
}

.fa-chevron-down {
  transition: transform 0.3s ease-in-out;
  transform: rotate(-90deg);
}

.fa-right {
  transform: rotate(0deg) !important;
}

/* Float the collapse icon to the right */
.widget-item-toolbar {
  float: right;
  cursor: pointer;
}

/* Clear the float after each list item */
li::after {
  content: "";
  display: table;
  clear: both;
}