<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mafenbot 2000</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
  <h1>iMafen Industries</h1>
  <div class="row">
      {% for column in columns %}
      <div class="column">
          {% for feed in column %}
          <div class="box {{ feed.type }}-box">
            <div class="box-header {{ feed.type }}-header"><a href="{{ feed.link }}" target="_blank">{{ feed.title }}</a></div>
            <div class="box-content {{ feed.type }}-content"> 
              <ul>
                  {% for article in feed.articles %}
                  <li>
                      <a href="{{ article.link }}">{{ article.title }}</a>
                      <div class="description {{ feed.type }}">{{ article.summary }}</div>
                  </li>
                  {% endfor %}
              </ul>
            </div>
          </div>
          {% endfor %}
      </div>
      {% endfor %}
  </div>
</body>
</html>