<div class="box"
{% if widget and widget['hx-get'] and not containers %}
  hx-get="{{ widget['hx-get'] }}" 
  hx-trigger="load" 
  hx-swap="outerHTML"
  hx-ext="preload,loading-states"
  preload="mouseenter"
  data-loading-class="widget-loading"
  data-loading-class-remove="widget-loading"
{% endif %}
>
  <div class="box-header">
    Docker Containers
  </div>
  <div class="box-content">
    <ul>
      {% for container in containers %}
      <li>
        {{ container.name }}
      </li>
      {% else %}
        Loading...
      {% endfor %}
    </ul>
  </div>
</div>