<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <meta name="description" content="">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:image:alt" content="">

  <meta name="theme-color" content="#fafafa">
  <script defer src="https://unpkg.com/htmx.org@1.6.1"></script>
  <style>
  .htmx-settling img {
    opacity: 0;
  }
  img {
  transition: opacity 300ms ease-in;
  }
  </style>
</head>

<body>

  <!-- Add your site or application content here -->
  <p>Hello world! This is HTML5 Boilerplate.</p>
  <button hx-post="/clicked" hx-swap="outerHTML">
    Click Me
  </button>

  <div hx-get="/clicked" hx-trigger="load">
    <img  alt="Result loading..." class="htmx-indicator" width="150" src="/static/img/bars.svg"/>
  </div>

</body>

</html>